
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<h3 class="text-danger">Cart cannot be empty</h3>
@Html.ActionLink("Go back to shopping", "Index", "Home")

