
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Success</h2>

<h3>Your purchase has been successfull. Please check your email for further details</h3>
@Html.ActionLink("Go back to shopping", "Index", "Home")